#heading{
    color: orange;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid #858484;
    align-items: center;
}
.logo > img{
    width: 100px;
    height: 100px;
}
.nav >ul{
    display: flex;
}
.nav>ul>li{
    margin-right: 8px;
    list-style-type:none;
}
.search-container{
    margin-top: 16px;
    margin-bottom: 32px;
}
.search-button{
    margin-left: 8px;
}
.res-card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    border: 2px solid #858484;
    border-radius: 4px;
    background-color: #858484;
    margin: 5px;
}
.main-container{
    padding: 0px 32px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 250px;
    height: 450px;
    background-color: rgb(172, 173, 173);
    margin:20px

}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.user-cards{
    border: black solid 2px;
}